*.iml
*.dll
*.dll.a
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
build-windows
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/cpp/diffusion-loader.cpp/build-windows/
/cpp/libs/
/composeApp/libsdloader.dll


/build
/captures
.gradle/
.idea/
build/
.cxx/
obj/
output-metadata.json
*.hprof
*.apk
*.DS_Store

/local.properties
.idea/compiler.xml
/.vscode/settings.json